In [19]:
import pandas as pd
df = pd.read_csv('realestate.csv')

#print(df.count())
print(df[['title','price','rooms','toilets','mts']])

                                                title     price        rooms  \
0   Milenio III SIN AMUEBLAR departamento de 3 rec...  $ 14,000  3 Recámaras
1   Penthouse en renta amoblado de 3 dormitorios y...  $ 27,000  3 Recámaras
2   RENTA DEPARTAMENTO MILENIO III A 8 MIN DEL CENTRO  $ 15,320  2 Recámaras
3   Departamento en Renta, en Milenio 3a. Sección,...  $ 17,500  3 Recámaras
4   Moderno y amplio departamento trirecámaras pla...  $ 12,000  3 Recámaras
..                                                ...       ...          ...
84  PENTHOUSE EN RENTA EN MILENIO III, 2 REC., 2 B...  $ 18,000  2 Recámaras
85       Departamento en Renta en Milenio 3a. Sección  $ 13,000  2 Recámaras
86            Departamento nuevo Renta en Milenio III  $ 18,500  3 Recámaras
87  RENTA DE DEPARTAMENTO AMUEBLADO Y EQUIPADO EN ...  $ 16,300  3 Recámaras
88  RENTA DE DEPARTAMENTO AMUEBLADO Y EQUIPADO EN ...  $ 16,321  3 Recámaras

    toilets                 mts
0   2 Baños  146 m² Construidos
1   3 Baños  246 m² Construidos
2   2 Baños   93 m² Construidos
3   3 Baños  178 m² Construidos
4   2 Baños  130 m² Construidos
..      ...                 ...
84  2 Baños  136 m² Construidos
85  2 Baños   93 m² Construidos
86  3 Baños  170 m² Construidos
87  2 Baños  112 m² Construidos
88  2 Baños  112 m² Construidos

[89 rows x 5 columns]